/* Style for the text */

body{
    background: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    text-align: center;
    font-size: 30px;
    background: whitesmoke;
    width: 50%;
    position: relative;
    left: 600px;
    border: 1px solid black;
}

.chart-tittle{
    font-size: 30px;
}

.section-container {
    width: 100%;
    max-width: 1800px;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightcyan;
    display: flex;
    align-items: flex-start;
    margin-left: 150px;
    margin-right: 10px;
}

.chart,
.text-container {
    padding: 20px;   
}

#s1{
    position: sticky;
    font-size: 12px;
    text-align: left;
    top: 110%;
  }

#s2{
    position: absolute;
    font-size: 12px;
    bottom: 0px;
    text-align: left;
  }

.chart{
    
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background: white;
}

#bubleplot {
    height: 90%;
    width: 90%;
    position: static;
    top: 0;
    border-left: 1px solid black;
}

#sankey {
    height: 90%;
    position: sticky;
    width: 150%;
    border: 1px solid black;
}

#bar-chart {
    height: 50%;
    width: 100%;
    position: sticky;
    bottom: 50;
    border: 1px solid black;
}

.section-container > #t1 {
    width: 90%;
    top: 0;
}

.section-container > #t2 {
    width: 90%;
    position: sticky;
    top: 0;
}

.text-container{
    position: relative;
    background: white;
    top: 0px;
    padding: 50px;
    font-size: 30px;
    text-align: justify;
    border: 1px solid black;
    line-height: 1.5;
}

.naked-text{
    font-size: 30px;
    text-align: justify;
    position: relative;
    padding: 125px;
    line-height: 2;

}

#t1 {
    border-right: 1px solid black;
}

#t2 {
    border-left: 1px solid black;
}

#t3 {
    border-right: 1px solid black;
    width: 85%;
}

/* style for charts */

.tooltip {
    position: absolute;
    }
.svg {
    font-size: 8px;
    width: 100%;
    height: 80vh;
}
.bubbles {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
}
.bubbles:hover {
    stroke: black;
}
